body {
    font-family: Calibri, serif;
    background-image: url("background.png");
}





.selectedCell {
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7),
    -1px 2px 20px rgba(255, 255, 255, 0.6) inset;
}

table {
    border-collapse: collapse;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin : 10px;
    width: 500px;
    display : inline-flex;
}

output {

    float: left;
    margin: 5px;


}

th, td {
    text-align: left;
    padding: 8px;
    font-weight: bold;
}

th {
    background-color: #c1c1c1de;
}

.red {

    color: red;
}

.blue {

    color: blue;
}

tr:nth-child(even) {
    background-color: #f2f2f2de
}

tr:nth-child(odd) {
    background-color: #ffffffd1
}

.selected {
    box-shadow: 0 0 4px 5px rgba(0, 158, 0, 0.3) inset;
}

.center {
    padding: 10px;

}

#parameters{

    border: 3px lightgrey groove;
    padding: 10px;
    background-color: rgba(255,255,255,0.8);

}

.clock{
    text-align: center;
    color: #131313;
    font-size: 70px;
    letter-spacing: .15em;
}

#mainTitle{
    text-align: center;
    color: #131313;
    font-size: 50px;
    letter-spacing: .15em;
    margin : 0;
}
