body {
    font-family: Calibri, serif;
    background-image: url("background.png");
}

h1 {
    text-align: center;
}

.selectedCell {
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7),
    -1px 2px 20px rgba(255, 255, 255, 0.6) inset;
}

table {
    border-collapse: collapse;
    width: 100%;
}

output {

    float: left;
    margin: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

th, td {
    text-align: left;
    padding: 8px;
    font-weight: bold;
}

th {
    background-color: #c1c1c1de;
}

.red {

    color: red;
}

.blue {

    color: blue;
}

tr:nth-child(even) {
    background-color: #f2f2f2de
}

tr:nth-child(odd) {
    background-color: #ffffffd1
}

.selected {
    box-shadow: 0 0 4px 5px rgba(0, 158, 0, 0.3) inset;
}

.center {

    margin: auto;
    width: 50%;
    padding: 10px;

}

#parameters{

    border: 3px lightgrey groove;
    padding: 10px;
    background-color: rgba(255,255,255,0.8);

}