body {
    font-family: Calibri, serif;
    //background-image: url("imgs/background.png");
    background-image: url("imgs/background2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin: 0;
}

html {
    height: 100%;
}

footer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    display: inline;
    width: 100%;
    margin-bottom: 20px;
}

.content{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.selectedCell {
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7),
    -1px 2px 20px rgba(255, 255, 255, 0.6) inset;
}

.title-img{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;
    width: 500px;
    display: inline-flex;
}

output {

    float: left;
    margin: 5px;
    width:100%;
}

th, td {
    text-align: left;
    padding: 8px;
    font-weight: bold;
    height:70px;
}

th {
    background-color: #c1c1c1de;
}

.red {

    color: red;
}

.blue {

    color: blue;
}

td{
	height : 120px;
}

tr:nth-child(even) {
    background-color: #f2f2f2de
}

tr:nth-child(odd) {
    background-color: #ffffffd1
}

.selected {
    box-shadow: 0 0 4px 5px rgba(0, 158, 0, 0.3) inset;
}

.center {
    padding: 10px;
    text-align: center;

}

#parameters {

    border: 3px lightgrey groove;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    position:absolute;

}

.clock {
    text-align: center;
    color: #131313;
    font-size: 50px;
    letter-spacing: .15em;
    float: right;
    margin-right: 20px;
    font-family: fonts/Ubuntu;
    font-weight: bold;
}

.date{
	text-align: center;
    color: #131313;
    font-size: 50px;
    letter-spacing: .15em;
    float: left;
    margin-left: 20px;
    font-family: fonts/Ubuntu;
    font-weight: bold;
}

.combatCaption{
    background-color: #a9a9a96b;
    text-align: center;
    border: 2px darkgray solid;
}

.openB{
	text-align: center;
    color: #131313;
    font-size: 50px;
    letter-spacing: .15em;
    margin: 0;
    font-family: fonts/Ubuntu;
    font-weight: bold;
}

#mainTitle {
    text-align: center;
    color: #131313;
    font-size: 50px;
    letter-spacing: .15em;
    margin-left: 20px;
    margin-right: 20px;
    margin-top:0;
    margin-bottom: 0;
    font-family: fonts/Ubuntu;
    font-weight: bold;
}
